#body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    background: radial-gradient(rgba(0,0,0), rgba(0,0,0), rgba(0,0,0), rgba(0,0,0,0.9));
    z-index: 100;
    position: fixed;
}

.container {
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.ring {
    height: 200px;
    width: 200px;
    border: 0 solid rgb(43, 43, 43);
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1) {
    border-bottom-width: 8px;
    border-color: #5B51D8;
    animation: rotate 2s linear infinite;
}

.ring:nth-child(2) {
    border-bottom-width: 8px;
    border-color: #E1306C;
    animation: rotate2 3s linear infinite;
}

.ring:nth-child(3) {
    border-bottom-width: 8px;
    border-color: #FCAF45;
    animation: rotate3 2s linear infinite;
}

.dots {
    opacity: 0;
}

.dots:nth-child(1) {
    animation: dots 2s infinite;
}

.dots:nth-child(2) {
    animation: dots 2s infinite;
    animation-delay: 0.5s;
}

.dots:nth-child(3) {
    animation: dots 2s infinite;
    animation-delay: 1.3s;
}

@keyframes rotate {
    0% {
        transform: rotateX(35deg) rotateY(-48deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(35deg) rotateY(-48deg) rotateZ(360deg);
    }
}

@keyframes rotate2 {
    0% {
        transform: rotateX(40deg) rotateY(48deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(40deg) rotateY(48deg) rotateZ(360deg);
    }
}

@keyframes rotate3 {
    0% {
        transform: rotateX(55deg) rotateY(10deg) rotateZ(0deg);
    }

    100% {
        transform: rotateX(55deg) rotateY(10deg) rotateZ(360deg);
    }
}

@keyframes dots {
    50% {
        opacity: 1;
    }

}